In [0]:
import numpy as np
import pandas as pd

In [0]:
import tensorflow as tf

In [24]:
dataset = pd.read_csv('./Churn_Modelling.csv')
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [25]:
dataset.shape

(10000, 14)

In [26]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [27]:
dataset.drop(['RowNumber', 'CustomerId', 'Surname', 'Gender'], inplace = True, axis = 1)
dataset.shape

(10000, 10)

In [0]:
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder() 
x = onehot.fit_transform(dataset.Geography.values.reshape(-1,1)).toarray()

In [29]:
onehot.categories_, x.shape

([array(['France', 'Germany', 'Spain'], dtype=object)], (10000, 3))

In [30]:
dataset.drop('Geography', axis =1, inplace = True)
dataset['France'] = x[:, 0]
dataset['Germany'] = x[:, 1]
dataset.shape

(10000, 11)

In [31]:
dataset.drop(['Age', "Exited"], inplace= True, axis = 1)
dataset.head()

   CreditScore  Tenure    Balance  ...  EstimatedSalary  France  Germany
0          619       2       0.00  ...        101348.88     1.0      0.0
1          608       1   83807.86  ...        112542.58     0.0      0.0
2          502       8  159660.80  ...        113931.57     1.0      0.0
3          699       1       0.00  ...         93826.63     1.0      0.0
4          850       2  125510.82  ...         79084.10     0.0      0.0

[5 rows x 9 columns]

In [32]:
y = dataset.IsActiveMember.values
X = dataset.iloc[:, [0,1,2,3,4,6,7,8]].values
y.shape , X.shape

((10000,), (10000, 8))

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train .shape , X_test.shape

((7500, 8), (2500, 8))

In [0]:
input_layer = 8

n_hidden1 = 32
n_hidden2 = 64
n_hidden3 = 16

n_out = 1

In [0]:
weights = {
    'wh1' : tf.Variable(tf.random_uniform([input_layer, n_hidden1])),
    'wh2' : tf.Variable(tf.random_uniform([n_hidden1, n_hidden2])),
    'wh3' : tf.Variable(tf.random_uniform([n_hidden2, n_hidden3])),
    'wo' : tf.Variable(tf.random_uniform([n_hidden3, n_out]))
}

biases = {
    'bh1' : tf.Variable(tf.random_uniform([n_hidden1])),
    'bh2' : tf.Variable(tf.random_uniform([n_hidden2])),
    'bh3' : tf.Variable(tf.random_uniform([n_hidden3])),
    'bo' : tf.Variable(tf.random_uniform([n_out]))
}

In [0]:
def fwd(x, weights, biases):
    
    hidden1_out_before = tf.add(tf.matmul(x, weights['wh1']), biases['bh1'])
    hidden1_out = tf.nn.relu(hidden1_out_before)
    
    hidden2_out_before = tf.add(tf.matmul(hidden1_out, weights['wh2']), biases['bh2'])
    hidden2_out = tf.nn.relu(hidden2_out_before)
    
    hidden3_out_before = tf.add(tf.matmul(hidden2_out, weights['wh3']), biases['bh3'])
    hidden3_out = tf.nn.relu(hidden3_out_before)
    
    
    output = tf.add(tf.matmul(hidden3_out, weights['wo']), biases['bo'])
    output = tf.nn.relu(output)
    
    return output

In [0]:
x = tf.placeholder('float', [None, input_layer])
y = tf.placeholder('float', [None, n_out])

In [0]:
pred = fwd(x, weights, biases)

In [0]:
cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits= pred, labels= y))

In [0]:
optimizer = tf.train.AdamOptimizer(learning_rate= 0.01)
optimize = optimizer.minimize(cost)

In [0]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [60]:
for i in range(100):
    batch_x = X_train
    batch_y = y_train.reshape(-1, 1)
    c, _ = sess.run([cost,optimize], feed_dict={x:batch_x , y:batch_y})
    print(c)

220979360.0
204759870.0
189486020.0
175129820.0
161666450.0
149068260.0
137304860.0
126343624.0
116149944.0
106693070.0
97987430.0
89945710.0
82514380.0
75656590.0
69336264.0
63519776.0
58176196.0
53267830.0
48764500.0
44641156.0
40866468.0
37409476.0
34245036.0
31349626.0
28701050.0
26278804.0
24063694.0
22037944.0
20185236.0
18490420.0
16939614.0
15520357.0
14221052.0
13031135.0
11940908.0
10941991.0
10024974.0
9180872.0
8402670.0
7684220.5
7020034.5
6405618.0
5835830.5
5306475.0
4813792.0
4354356.0
3925051.0
3523025.0
3145687.0
2790662.8
2455776.2
2139032.5
1838597.8
1552780.5
1280019.2
1019073.0
768799.8
527516.6
294042.94
67273.766
0.7678573
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472
0.6931472

In [0]:
predictions = tf.argmax(pred, 1)
correct_labels = tf.argmax(y, 1)
correct_predictions = tf.equal(predictions, correct_labels)
predictions,correct_preds  = sess.run([predictions, correct_predictions], feed_dict={x:mnist.test.images,
                                              y:mnist.test.labels, keep_prob: 1.0})
correct_preds.sum()

9745